In [ ]:
import sqlite3
import pandas as pd
import ast
import numpy as np
from datetime import datetime

In [ ]:
con = sqlite3.connect('cademycode.db')
cur = con.cursor()

In [ ]:
table_list = [a for a in cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")]
print(table_list)

In [ ]:
students = pd.read_sql_query("SELECT * FROM cademycode_students", con)
career_paths = pd.read_sql_query("SELECT * FROM cademycode_courses", con)
student_jobs = pd.read_sql_query("SELECT * FROM cademycode_student_jobs", con)

In [ ]:
print('students: ', len(students))
print('career_paths: ', len(career_paths))
print('student_jobs: ', len(student_jobs))

## Working with the `Students` table

Looking at the head of the table:

In [ ]:
students.head()

`contact_info` has a JSON format, might be a good idea to look into this later. Let's look at column data types:

In [ ]:
students.info()

We can see there is missing data in the last 4 columns of the dataframe. We have to make sure that `dob` is in datetime format that we can use to determine each student's age for better grouping. Numerical columns should be either integers or floats. We can also treat `job_id` and `current_career_path_id` as categorical data.

In [ ]:
students[students.isnull().any(axis=1)]

No pattern can be found, we can only tell that there are 707 rows that have AT LEAST ONE null value in their columns.

### Calculating approximate age

To create an `age` column within our dataframe, we will have to use the `pd.to_datetime` function. We will also create an `age_group` column that should help us better classify our students.

In [ ]:
now = datetime.now()
students['age'] = (now - pd.to_datetime(students['dob'])).dt.days // 365
students['age_group'] = (students['age'] // 10)*10
students.head()

### Explode the dictionary

Now we need to extract all the information from the ``contact_info`` column so we can have an individual column for each key from the dictionary. First, let's take a look at the data type for said column:

In [ ]:
type(students['contact_info'][0])

Notice how this column is made up of strings rather than dictionaries. We need to transform this column into dictionaries in order to extract the info with the help of `pd.json_normalize`. Here is how we can implement this:

In [ ]:
students['contact_info'] = students['contact_info'].apply(lambda x: ast.literal_eval(x))

Now that we have transformed our `contact_info` column into a set of dictionaries, we can extract the information with the following methods:

In [ ]:
explode_contact_info = pd.json_normalize(students['contact_info'])
explode_contact_info.head()

We proceed to concatenate this dataframe with our original `students` dataframe:

In [ ]:
students = pd.concat([students.drop('contact_info', axis=1), explode_contact_info], axis=1)
students.head()

We will further split our `contact_info` to extract more bits of information for each student. Notice how `mailing_address` contains street name, city, state, and zip code. This is valuable information that the analytics team might want to explore further.

In [ ]:
split_address = students.mailing_address.str.split(',', expand=True)
split_address.columns = ['street', 'city', 'state', 'zip_code']
split_address.head()

Now, we will include this dataframe into our `students` dataframe and drop the `mailing_address` column in the process.

In [ ]:
students = pd.concat([students.drop('mailing_address', axis=1), split_address], axis=1)
students.head()

We will now take a look at our data types:

In [ ]:
students.info()

### Fixing column data types

We want to change the data type for certain columns so we can use them for analysis down the line. We know that `num_course_taken` should be an integer value, and `time_spent_hrs` should be a float. Since there is some null data for `job_id` and `current_career_path_id`, we have to cast them into floats instead of integers for the time being.

In [ ]:
students['job_id'] = students['job_id'].astype(float)
students['current_career_path_id'] = students['current_career_path_id'].astype(float)
students['num_course_taken'] = students['num_course_taken'].astype(float)
students['time_spent_hrs'] = students['time_spent_hrs'].astype(float)
students.info()

### Handling missing data

Let's examine the missing data for `job_id`, `num_course_taken`, `current_career_path_id` and `time_spent_hrs` one by one.

In [ ]:
missing_course_taken = students[students[['num_course_taken']].isnull().any(axis=1)]
display(missing_course_taken)

Let's look at the distributions of the missing and complete data for `num_course_taken` side by side. If both distributions look similar, we can conclude that the data is missing at random if there is no identifiable pattern.

In [ ]:
students_group = (students.groupby('sex').count()['uuid']/len(students)).rename('complete')
missing_group = (missing_course_taken.groupby('sex').count()['uuid']/len(missing_course_taken)).rename('incomplete')
df = pd.concat([students_group, missing_group], axis=1)
df.plot.bar()

In [ ]:
students_group = (students.groupby('job_id').count()['uuid']/len(students)).rename('complete')
missing_group = (missing_course_taken.groupby('job_id').count()['uuid']/len(missing_course_taken)).rename('incomplete')
df = pd.concat([students_group, missing_group], axis=1)
df.plot.bar()

In [ ]:
students_group = (students.groupby('age_group').count()['uuid']/len(students)).rename('complete')
missing_group = (missing_course_taken.groupby('age_group').count()['uuid']/len(missing_course_taken)).rename('incomplete')
df = pd.concat([students_group, missing_group], axis=1)
df.plot.bar()

By looking at the distributions side-by-side, we can see that they share some similarities. This means we can conclude that the data for `num_course_taken` is missing at random, since there is not identifiable pattern for all these distributions.

Now, we don't want to remove this data completely. Instead, we are going to store it in an alternate DataFrame and remove it from the main one since it accounts for less than 5% of the data. The reason to keep this information apart is that perhaps the analytics team might want to look into it with more detail.

In [ ]:
missing_data = pd.DataFrame()
missing_data = pd.concat([missing_data, missing_course_taken])
students = students.dropna(subset=['num_course_taken'])
students.info()

Now we want to look into the `job_id`. It is important to note that this data is categorical and we also cannot impute it. Let's take a look at what we are dealing with in terms of missing data.

In [ ]:
missing_job_id = students[students[['job_id']].isnull().any(axis=1)]
display(missing_job_id)

Only 5 missing rows. Sample is too small compared to the total amount of data, so we can safely remove it from the Dataframe. We are going to store it in our `missing_data` df and drop it from the original one.

In [ ]:
missing_data = pd.concat([missing_data, missing_job_id])
students = students.dropna(subset=['job_id'])
students.info()

For `current_career_path_id`, let's look at how much data we are missing.

In [ ]:
missing_path_id = students[students[['current_career_path_id']].isnull().any(axis=1)]
display(missing_path_id)

We can see that `current_career_path_id` and `time_spent_hrs` are missing in the same instances since students are not enrolled in any career paths, and therefore not taking any classes. Let's run the following to be certain.

In [ ]:
missing_path_id.info()

Since the amount of data is more than 5%, we would assign a new category for people with missing `current_career_path_id` and their `time_spent_hrs` will be set to 0, since they are not taking any classes.

In [ ]:
students['current_career_path_id'].unique()

In [ ]:
students['current_career_path_id'] = np.where(students['current_career_path_id'].isnull(), 0, students['current_career_path_id'])
students['time_spent_hrs'] = np.where(students['time_spent_hrs'].isnull(), 0, students['time_spent_hrs'])
students.info()

## Working with the `career_paths` table

In [ ]:
display(career_paths)

In [ ]:
career_paths.info()

It looks like this table does not need any changes at first glance. However, since we added a new category to `career_path_id`, we need to add a new option for students not taking any career paths.

In [ ]:
not_applicable = {'career_path_id': 0,
                  'career_path_name': 'not applicable',
                  'hours_to_complete': 0}

career_paths.loc[len(career_paths)] = not_applicable # type: ignore
display(career_paths)

### Working with the `students_jobs` table

In [ ]:
display(student_jobs)

In [ ]:
student_jobs.info()

The only issue with this table is that there are some duplicates to be dropped.

In [ ]:
student_jobs.drop_duplicates(inplace=True)
display(student_jobs)

### Joining the tables

We first need to change the data type for `job_id` and `current_career_path_id` from the students to int data type before performing our join.

In [ ]:
students['job_id'] = students['job_id'].astype(int)
students['current_career_path_id'] = students['current_career_path_id'].astype(int)

Now we can perform our joins with the other two tables.

In [ ]:
students_full_info = students.merge(career_paths, left_on='current_career_path_id', right_on='career_path_id', how='left')
students_full_info = students_full_info.merge(student_jobs, on='job_id', how='left')
display(students_full_info)

In [ ]:
students_full_info.info()

### New SQLite DB to upsert cleansed and missing data tables

In [ ]:
sqlite_connection = sqlite3.connect('cademycode_cleansed.db')
students_full_info.to_sql('cademycode_aggregated', sqlite_connection, if_exists='replace', index=False)

In [ ]:
full_info_db = pd.read_sql_query("SELECT * FROM cademycode_aggregated", sqlite_connection)
full_info_db.info()

In [ ]:
full_info_db.to_csv('cademycode_cleansed.csv')

In [ ]:
missing_data.to_sql('incomplete_data', sqlite_connection, if_exists='replace', index=False)

missing_info = pd.read_sql_query("SELECT * FROM incomplete_data", sqlite_connection)
missing_info.info()

In [ ]:
display(missing_info)

In [ ]:
sqlite_connection.close()